.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-info {
  background-color: rgba(200, 200, 200, 0.5);;
  color: black;
  font-size: 1.5em;
}

.fighter-info p{
  margin: 0;
}